<h3>Про нас</h3>
<br>
<p>Додаток розробленний для абітурієнтів які цінують свій час</p>
<p>Тут ви можете ознайомитися з важливою інформацією нашого закладу</p>

<br>
<h4>Контакти</h4>
<ul class="collection with-header">
  <li class="collection-header">
    <h4>Національний лісотехнічний університет України:</h4>
  </li>
  <li class="collection-item">вул. Генерала Чупринки, 103,
    м. Львів, 79057, Україна
  </li>
  <li class="collection-item">тел.: (032) 237 80 94
    237 79 88
  </li>
</ul>
<ul class="collection with-header">
  <li class="collection-header">
    <h4>Приймальна комісія:</h4>
  </li>
  <li class="collection-item">вул.Генерала Чупринки, 105, кім.107,
    м. Львів, 79057, Україна
  </li>
  <li class="collection-item">тел.: (032) 258-42-15
    (067) 370-23-12
  </li>
</ul>
<button (click)="goToLink('https://nltu.edu.ua')" class="waves-effect waves-light btn">Посилання на офіційний сайт</button>
